{#include base.html}
{#title}Buchungen{/title}
{#body}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Buchungsdatum</th>
        <th scope="col">Betrag</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Beschreibung</th>
    </tr>
    </thead>
    <tbody>
    {#for buchung in buchungen}
    <tr>
        <th scope="row">{buchung.datum}</th>
        <th>{buchung.getBetragStr()}</th>
        <th>{buchung.kategorie}</th>
        <th>{buchung.beschreibung}</th>
    </tr>
    {/for}
    </tbody>
</table>
{/body}
{/include}